.note {
  display: flex;
  justify-content: space-between;
  align-items: center;

  label {
    margin-right: 1rem;
  }
}

.note-done {
  text-decoration: line-through;
}

.note-exit-active {
  animation: note 800ms ease-out forwards;
}
  
.note-enter-active {
  animation: note 800ms ease-in alternate-reverse;
}
  
@keyframes note {
  0% {
    transform: translateX(0);
  }
  
  30% {
    opacity: .7;
    transform: translateX(30px);
  }
  
  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}